
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}
@font-face {
    font-family: Chunk;
    src: url("ttf/Chunk.ttf") format("truetype");
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    font-family: "Chunk", Sans-Serif; 
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}


h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}
.ui-footer{
    text-align: center;
}
.logo{
    color: rgba(22, 59, 103);
    text-shadow: 10px 10px 0 rgba(255,255,255,0.07);
    -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, from(rgba(56, 123, 30, 1)), color-stop(500%, rgba(110, 179, 29, .5)), to(rgba(56, 123, 30, 1)));
}

.ui-content{
    background-color: rgb(54,120,31);
    background-image:linear-gradient(top, #408320 0%, #6fb41d 51%);
    background-image:-webkit-linear-gradient(top, #408320 0%, #6fb41d 51%);
    background-image:-ms-linear-gradient(top, #408320 0%, #6fb41d 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #408320),
        color-stop(0.51, #6fb41d)
    );
    background-attachment:fixed;
}
